<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <title><%= adminName %> Dashboard</title>
</head>
<body class="flex-grow">
    <main class="container-fluid ">
      <div class="row">
        <%- include('admin/partials/side-menu') %>
        <div class="col flex-grow-1">
          <div class="row">
            <h1 class="p-3">Welcome, <%= adminName %>!</h1>
          </div>
          <div class="row">
            <div class="col">
              <div>
                <%- include('admin/partials/analytics') %>
              </div>
            </div>
            <div class="col">
              2 of 2
              <%- include('admin/partials/latest-post') %>
            </div>
          </div>
          <div class="row">
              <div class="col">
                1 of 2
                <%- include('admin/partials/app-health') %>
              </div>
              <div class="col">
                2 of 2
              </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Show NR of bad responses, avg response time... -->
</body>
</html>