<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Gutenberg Article.">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <title><%= articleTitle %></title>
</head>
<body class="font-quicksand-400">
    <%- include('partials/header') %>
    <div class="col position-fixed ms-4 mt-5 border border-dark d-none d-md-block" style="background: white; border-radius: 100px;">
    </div>
    <div class="d-flex">
        <div class="col-md-2"></div>
        <div class="col-md-8 p-sm-5 p-md-3 p-lg-5 pt-2 my-4 lh-lg border-bottom border-secondary border-2">
            <div class="text-center fs-2 m-4 mb-2 pb-3 border-bottom border-secondary border-2 font-quicksand-500" id="article-title">
                <h1 class="mb-2">
                    <%= articleTitle %>
                </h1>
            </div>
            <h2 class="text-secondary fs-6 mx-4 my-0 pb-2 border-bottom border-secondary border-2 row" id="article-details">
                <div class="col">By : </div>
                <div class="col">Published : </div>
                <div class="col">Updated : </div>
            </h2>
            <% for (var i = 0; i < numParagraphs; i++) { %>
                <div class="fs-5 m-4 cs-text-justify">
                    <%= paragraphs[i] %>
                    Some content paragraph. Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                     graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to
                      have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. The passage 
                      experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again
                       during the 90s as desktop publishers bundled the text with their software. Today it's seen all around the web; on templates,
                        websites, and stock designs.
                </div>
            <% } %>
        </div>
        <div class="col-md-2"></div>
    </div>
        <div class="d-flex justify-content-center">
            <div class="col"></div>
                <div class="col-8 mt-2 text-center">
                    <div class="fs-3">Most Read Today</div>
                    <div class="fs-4">
                        <a href="#" class="text-decoration-none">
                            <div class="card p-3 m-3 text-decoration-none">
                                Alternate article title
                            </div>
                        </a>
                        <a href="#" class="text-decoration-none">
                            <div class="card p-3 m-3 text-decoration-none">
                                Alternate article title
                            </div>
                        </a>
                        <a href="#" class="text-decoration-none">
                            <div class="card p-3 m-3">
                                Alternate article title
                            </div>
                        </a>
                    </div>
                </div>
            <div class="col"></div>
        </div>
    </div>
    <%- include('partials/footer') %>
    <script defer src="/js/search-form.js"></script>
</body>
</html>