<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <title>Documentation</title>
    </head>
<body class="m-0 p-0 font-quicksand-400 text-dark">
    <div class="row m-0 p-0" id="main-content">
        <div class="col-md-2 m-0 p-0 pt-5 bg-dark">
            <div class="col position-fixed">
                <div class="m-3">
                    <a class="text-white text-decoration-none" href="#">
                        Top
                    </a>
                </div>
                <% for (let key in sections) { %>
                    <div class="m-3">
                        <a class="text-white text-decoration-none" href="#section-<%=sections[key].title.toLowerCase().replaceAll(' ', '-'); %>">
                            <p id="nav-<%=sections[key].title.toLowerCase().replaceAll(' ', '-'); %>">
                                <%= sections[key].title %>
                            </p>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="col-md-8 px-4">
            <div class="d-flex m-3">
                <p class="col-1 px-2">EN</p>
                <div class="col-1 px-2">DE</div>
            </div>
            <% for (let section of sections) { %>
                <div class="fs-5" >
                    <h2 class="p-1 m-0 border-bottom border-dark" id="section-<%= section.title.toLowerCase().replaceAll(' ', '-'); %>">
                        <%= section.title %>
                    </h2>
                    <% for (let key in section) { %>
                        <% if (key.startsWith('code')) { %>
                            <p class="mx-2 p-3 font-mono text-white fs-6 w-75 bg-dark rounded">
                                <%= section[key] %>
                            </p>
                        <% } else if (key.startsWith('text')) { %>
                            <p class="p-2 mt-2 cs-text-justify">
                                <%= section[key] %>
                            </p>
                        <% } %>
                    <% } %>
                </div>
                <div class="spacer" style="height: 20px;"></div>
            <% } %>
        </div>
    </div>
</body>
</html>