<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <title>Gutenberg Search</title>
</head>
<body class="mx-0 font-quicksand-400">
    <%- include('partials/header') %>
    <div class="d-flex justify-content-center">
        <div class="col"></div>
        <div class="col-11 col-md-7 mb-2">
            <% if (numResults) { %>
                <div class="text-center fs-3 my-4 font-quicksand-600">Search Results for <%= searchParam %></div>
                <% searchResults.forEach(article => { %>
                    <div class="m-auto">
                        <div class="card mb-4">
                            <%- include('partials/search-result', { article }) %>
                        </div>
                    </div>
                <% }); %>
            <% } else  { %>
                <div class="spacer"></div>
                <div class="fs-4 text-center">We couldn't find anything tagged '<%= searchParam %>' - trying searching for similar tags!</div>
                <div class="spacer"></div>
            <% } %>
        </div>
        <div class="col"></div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>