<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="col position-fixed ms-4 mt-5 border border-dark d-none d-md-block" style="background: white; border-radius: 100px;">
    </div>
    <div class="d-flex">
        <div class="col-md-2"></div>
        <article class="col-md-8 p-sm-5 p-lg-5 pt-2 mb-4 lh-lg border-bottom border-secondary border-2">
            <h1 class=" text-center m-4 mb-2 pb-3 border-bottom border-secondary article-title">
                <%= title %>
            </h1>
            <h2 class="mx-4 my-0 pb-2 border-bottom border-secondary border-1 row article-details">
                <div class="col text-center">By : <%= authorString %></div>
                <div class="col text-center">Published :  <%= datePublished %></div>
                <div class="col text-center">Updated : <%= dateModified %></div>
            </h2>
            <figure id="image-hold-div" class="m-4">
                <img src="<%= imagePath %>" class="img-fluid rounded overflow-hidden article-img m-auto d-block"/>
                <figcaption class="p-3 m-auto text-muted d-block text-center border-bottom border-secondary border-2"><%= imageCaption %></figcaption>
            </figure>
            <% for (var i = 0; i < numParagraphs; i++) { %>
                <p class="m-4 cs-text-justify">
                    <%= paragraphs[i] %>
                </p>
            <% } %>
            </article>
        <div class="col-md-2"></div>
    </div>
        <div class="d-flex justify-content-center">
            <div class="col"></div>
                <div class="col-7 mt-2 mb-3 text-center">
                    <div class="fs-3">Most Read Today</div>
                    <div class="fs-4">
                        <a href="#" class="text-decoration-none">
                            <div class="card p-3 mx-3 my-4 text-decoration-none">
                                Alternate article title
                            </div>
                        </a>
                        <a href="#" class="text-decoration-none">
                            <div class="card p-3 mx-3 my-4  text-decoration-none">
                                Alternate article title
                            </div>
                        </a>
                        <a href="#" class="text-decoration-none">
                            <div class="card p-3 mx-3 my-4 ">
                                Alternate article title
                            </div>
                        </a>
                    </div>
                </div>
            <div class="col"></div>
        </div>
    </div>
    <%- include('partials/footer') %>
    <script defer src="/js/search-form.js"></script>
</body>
</html>